backups/
crash-reports/
downloads/
journeymap/
local/
logs/
mods/
packmenu/
patchouli_books/
resourcepacks/
saves/
schematics/
shaderpacks/
.curseclient
minecraftinstance.json
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json